<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GoodReads: Sign Up Today!</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <!--<li class="active"><a href="#">Home</a></li>
          <li><a href="#">About club1</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Press</a></li>
         -->
            
        </ul>
        <h2 class="text-muted"  style="color:black"><b>GoodReads</b></h2>
      </div>
	  <% if (flask_debug === 'true') { %>
      <div class="alert alert-danger">
      	Flask is in debug mode. This is not safe for production.
      </div>
      <% } %>
      <div id="signupSuccess" class="alert alert-success" style="display:none">
        <p id="signupSuccessText">Thanks for signing up!</p>
      </div>
      <div id="signupDuplicate" class="alert alert-success" style="display:none">
        <p id="signupDuplicateText">Fear not, you're already on the list!</p>
      </div>
      <div id="signupError" class="alert alert-info" style="display:none">
        <p id="signupErrorText">Well this is embarrassing. It looks like we're having trouble getting you on the list.</p>
      </div>
        <h3><b>About</b></h3>
        <br>
        <p>Calling all toddlers out there! For those spending time at home, looking for a cozy adventure or bedtime story, we offer this imaginative book reading session, read by the author with live performances bringing the characters live in the form of a play. Parents out there, this is a great opportunity to enhance your children's imaginative and creative skills. </p>
        <p>Check out the events below.</p>
        <br>
        <div id="list">
            <table  border = "3" cellpadding = "6" cellspacing = "6" bordercolor = "black">
            <tbody>
            <tr bgcolor = "lavender">
                <th>Book Title</th>
                <th>Dates</th>
                <th>Time</th>
            </tr>
            <tr bgcolor = "pink">
                <td>Harry Potter And The Philosopher's Stone</td>
                <td>11/14/2020, 11/20/2020</td>
                <td> 5:00 PM</td>
            </tr>
            <tr bgcolor = "pink">
                <td>Diary of a Wimpy Kid : The Deep End</td>
                <td>11/15/2020, 11/21/2020</td>
                <td> 5:00 PM</td>
            </tr>
            <tr bgcolor = "pink">
                <td>The Lion King</td>
                <td>11/16/2020, 11/22/2020</td>
                <td> 5:00 PM</td>
            </tr>
            <tr bgcolor = "pink">
                <td>My Name is Elizabeth</td>
                <td>11/17/2020, 11/23/2020</td>
                <td> 5:00 PM</td>
            </tr>
            <tr bgcolor = "pink">
                <td>The Very Hungry Caterpillar</td>
                <td>11/18/2020, 11/24/2020</td>
                <td> 5:00 PM</td>
            </tr>
            <tr bgcolor = "pink">
                <td>Cinderella</td>
                <td>11/19/2020, 11/25/2020</td>
                <td> 5:00 PM</td>
            </tr>
        </tbody>
</table>
</div>
        <br>
        <br>
      <div class="jumbotron">
        <p><a class="btn btn-lg btn-success"  data-toggle="modal" href="#signupModal">Sign up today</a></p>
      </div>


      <div class="footer">
        <p>&copy; GoodReads-DGKRP 2020</p>
      </div>
      
      <!-- Modal -->
       <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Provide a few details and we'll be in touch...</h4>
             </div>
             <div class="modal-body">
               <form id="signupForm" role="form">
                 <input type="hidden" id="theme" name="theme" value="<%= theme %>"/>
                 <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
                 </div>
                 <div class="form-group">
                   <label for="email">Email address</label>
                   <input type="email" class="form-control" id="email" name="email" placeholder="Your email address">
                 </div>
                   <div class="form-group">
                   <label for="DATE">Date</label>
                   <input type="date" class="form-control" id="email" name="date" placeholder="DATE">
                 </div>
                       
                 <div class="form-group">
                   <label for="previewAccess">Select Books</label>
                   <select class="form-control" name="previewAccess">
                     <option>Harry Potter</option>
                     <option>Diary of a Wimpy Kid: The Deep End</option>
                       <option>The Lion King</option>
                       <option>Cindrella</option>
                       <option>My Name is Elizabeth</option>
                       <option>The Very Hungry Caterpillar</option>
                       
                   </select>
                 </div>
                 </form>
             </div>
             <div class="modal-footer">
               <button id="signup" type="button" class="btn btn-primary">Sign Up!</button>
             </div>
           </div><!-- /.modal-content -->
         </div><!-- /.modal-dialog -->
       </div><!-- /.modal -->

    </div> <!-- /container -->

    <script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
    <script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
    <script type="text/javascript">
    $(document).ready(function() {
      $("#signup").click(function() {
        $.post( "/signup", $("#signupForm").serialize(),
                function(data) {
                  $("#signupSuccess").show();
                }
              )
              .error(function(xhr) {
                switch(xhr.status) {
                  case 409:
                    $("#signupDuplicate").show();
                    break;
                  default:
                    $("#signupError").show();
                }
              })
              .always(function() {
                $("#signupModal").modal('hide');
              });
      })
    })
    </script>
  </body>
</html>
